.carouselWrapper{
    button{
        background-color: black;
        color: #800080;
        border: #800080 solid 4px;
        border-radius: 10px;
        font-size: 4vw;
        box-shadow: 0px 0px 15px #ac00ac, 8px 8px 10px black;
        height: fit-content;
        width: fit-content;
        margin-left: 1%;
        margin-right: 1%;
    }
    .carouselImageShowed{

        display: block;
        height: 50vh;
        width: 60vw;
        box-shadow: 0px 0px 15px #ac00ac, 8px 8px 10px black;
        border: #800080 solid 4px;
        border-radius: 10px;
        img{
            max-width: 100%; 
            height: auto;
            object-fit: fill;
        }
    }
    .carouselImageHidden{
        display: none;
    }
}
